<!DOCTYPE html>
<html>
<head>
  <title>Lista de actividades</title>
</head>
<body>
  <h1>Lista de actividades</h1>
  <ul>
    <% actividades.forEach(actividad => { %>
      <li>
        Actividad : <%= actividad.nombre %>
        <p> Descripcion : <%= actividad.descripcion %></p>

        <a href="/actividades/editar/<%= actividad.id %>">Editar</a>
        <a href="/actividades/eliminar/<%= actividad.id %>">Eliminar</a>
      </li>
    <% }); %>
  </ul>
  <a href="/actividades/agregar">Añadir actividad</a>
</body>
</html>