<!DOCTYPE html>
<html>
<head>
  <title>Editar actividad</title>
</head>
<body>
  <h1>Editar actividad</h1>
  <form action="/actividades/actualizar/<%= actividad.id %>" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" value="<%= actividad.nombre %>">
    <div>
    </div>
    <label for="descripcion">Descripcion</label>
    <textarea name="descripcion" id="descripcion"><%= actividad.descripcion %></textarea>
 <div>
    <button type="submit">Actualizar</button>
  </form>
</body>
</html>