<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="/stylesheets/estilo.css">
</head>
<body>
    <h1>Bienvenido a la Gestión de Tiempo</h1>
    <a href="/dashboard">Ir al Dashboard</a>
</body>
</html>

