<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reportes</title>
    <link rel="stylesheet" href="/stylesheets/estilo.css">
</head>
<body>
    <h1>Reportes</h1>
    <a href="/index">Volver al inicio</a>
</body>
</html>
