<!DOCTYPE html>
<html>
<head>
  <title>Agregar hábito</title>
</head>
<body>
  <h1>Agregar hábito</h1>
  <form action="/habitos" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre">
    <button type="submit">Guardar</button>
  </form>
</body>
</html>