<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido al sistema de gestión de tiempo</title>
    <link rel="stylesheet" href="/publico/estilo/estilo.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido al sistema de gestión de tiempo</h1>
        <div class="nav-link">
          <a href="/usuarios">Ver usuarios</a>
          <a href="/actividades">Ver actividades</a>
          <a href="/habitos">Ver hábitos</a>
          <a href="/proyectos">Ver Proyectos</a>
      </div>
    </div>
</body>
</html>
